@import "../../variables";
.form-creator {
	margin: 30px;
}

.action-bar {
	height: 60px;
	width: 100%;
}

.action-bar .create-action {
	float:right;
	height: 60px;
	width: 60px;
	background: green;
	border-radius: 50%;
	cursor: pointer;
}

.projects-viewer {
	margin: 30px;
}

.owner-divider {
	font-size: 2em;
	border-bottom-color: grey;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	margin-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
}

.center {
	transform: translate(20px, 20px);
}

.project-view {
	text-align: center;
	color: $primary-text;
	
	background-color: $primary;
	height: 50px;
	font-size: 2em;
	border-radius: 4px;	
	margin-bottom: 10px;
	cursor: pointer;
}