<!DOCTYPE html>
<html>
	<head>
		<title>Projects</title>
        <!-- Fa icons  -->
         <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css"> 
        

	</head>
    <body>
        <span id="editor"></span>
    </body>
    <script>
        var project = JSON.parse('{{{project}}}');
    </script>
    <script src="/js/app/editor.js"></script>
</html>

