<!DOCTYPE html>
<html>
	<head>
		<title>Projects</title>
        <!-- Fa icons  -->
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
        

	</head>
    <body>
        <div id="project"></div>
    </body>
    <script src="js/app/projects.js"></script>
</html>

